primarycensored
resources
paper/*.html
paper/*.pdf
paper/*.docx
paper/*.doc
paper/*.rtf
paper/*.txt
paper/*.csv
paper/*.xlsx
paper/main_files
primarycensored-paper.code-workspace
claude.md
epidist-paper
_targets/
_targets.html
figures/*.pdf
data/results/*.csv
profile_results.rds
*.prof
# Compiled Stan models
stan/*
!stan/*.stan